@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*  {
    margin: 0;
    padding: 0;
    font-family: serif;
    text-decoration: none;
}

header {
    width: 100%;
    margin: auto;
    -webkit-border-radius: 0px 0px 100px 0px;
    -moz-border-radius: 0px 0px 100px 0px;
    -ms-border-radius: 0px 0px 100px 0px;
    -o-border-radius: 0px 0px 100px 0px;
}

header > .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-menu {
    font-style: italic;
    font-size: 1.3em;
    font-weight: lighter;
    color: black;
    padding: 25px 15px;
    margin: 70px 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.links-menu:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.209);
    background-color: #f4a8c2;
    color: white;
    transition: box-shadow .4s, background-color 1s, color .4s;
    -webkit-transition: box-shadow .4s, background-color 1s, color .4s;
    -moz-transition: box-shadow .4s, background-color 1s, color .4s;
    -ms-transition: box-shadow .4s, background-color 1s, color .4s;
    -o-transition: box-shadow .4s, background-color 1s, color .4s;
}

.logo {
    width: 200px;
    margin-right: 80px; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 30px 60px 30px;
}

main > .container {
    border-radius: 100px 100px 100px 100px;
    background-color: #f8eef4;
    padding: 50px;
    margin: 0px 30px 0px 30px;
    text-align: justify;
    max-width: 1200px;
}

main > .container > h1 {
    font-style: italic;
    border-left: 3px solid #0642ae; /* Ou #ff5488*/
    margin-bottom: 30px;
}

main > .container > p {
    font-family: 'Poppins', sans-serif;
}

main > .container > img {
    width: 400px;
    border-radius: 100px;
    margin: 30px 0% 0% 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

footer {
    bottom: 0;  
    background-color: #f4a8c2;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    font-family: 'Poppins', sans-serif;
    display: inline;
    justify-content: center;
    align-items: center;
    
}

.contato {
    margin-right: 350px;
}

.redes {
    margin-right: 70px;
}