@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*  {
    margin: 0;
    text-decoration: none;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-links {
    display: flex;
}

.link {
    margin-right: 30px;
    border-radius: 15px;
    font-size: 1.3em;
    font-style: italic;
}

.link a {
    padding: 30px 20px;
    font-weight: lighter;
    color: black;
    display: flex;
}

.link:hover {
    background-color: #f4a8c2;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.209);
    transition: box-shadow .4s, background-color 1s;
}

.link a:hover {
    color: white;
    transition: color .4s;
}

.logo-top {
    width: 250px;
    margin: 0px 80px; 
}

main {
    margin: 60px 30px;
    display: block;
    justify-content: center;
}

.conteudo {
    max-width: 1200px;
    padding: 50px;
    margin: 0px auto 60px auto;
    background-color: #f8eef4;
    text-align: justify;
    border-radius: 100px;
}

.titulo {
    margin-bottom: 30px;
}

.titulo .marcado {
    font-style: italic;
    border-left: 3px solid #0642ae;
    display: inline;
}

.titulo h1 {
    font-style: italic;
    display: inline;
}

.conteudo p {
    font-family: 'Poppins', sans-serif;
}

.slider {
    width: 700px;
    height: 700px;
    margin: 0 auto 60px auto;
    background-color: #f8eef4;
    border-radius: 50px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 700px;
    display: flex;
}

.slider input {
    display: none;
}

.slide {
    width: 25%;
    transition: 1.5s;
}

.slide img {
    width: 700px; 
    border-radius: 50px;
}

.manual-navigation {
    width: 700px;
    margin-top: -22px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.manual-btn {
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: #ffe0e7;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

#radio6:checked ~ .first{
    margin-left: -125%;
}

.navigation-auto div {
    padding: 5px;
    border: 2px solid rgb(255, 139, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.navigation-auto {
    width: 700px;
    margin-top: 670px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~.navigation-auto .auto-btn1 {
    background-color: #ffe0e7;
}

#radio2:checked ~.navigation-auto .auto-btn2 {
    background-color: #ffe0e7;
}

#radio3:checked ~.navigation-auto .auto-btn3 {
    background-color: #ffe0e7;
}

#radio4:checked ~.navigation-auto .auto-btn4 {
    background-color: #ffe0e7;
}

#radio5:checked ~.navigation-auto .auto-btn5 {
    background-color: #ffe0e7;
}

#radio6:checked ~.navigation-auto .auto-btn6 {
    background-color: #ffe0e7;
}

footer {
    padding: 0px 20px;
    background-color: #f4a8c2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-bottom {
    width: 120px;
    margin: 30px;
    border-radius: 10px;
}

footer .sociais {
    display: flex;
}

.sociais .social {
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.social a {
    font-size: 1.1em;
    color: #f4a8c2;
}

.social:hover {
    background-color: #eb6580f3;
    transition: background-color .25s linear;
}

.social:hover a {
    color: white;
    transition: color .25s linear;
}

@media (max-width: 1430px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .menu-links {
        display: none;
    }

    .logo-top {
        width: 200px;
        margin: 0px 50px; 
    }

    .one, .two, .three {
        height: 5.1px;
        margin: 6px auto;
        background-color: #000000;
        border-radius: 5px;
        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin: 20px 70px 0px 0px;
    }

    .menu-section.on {
        width: 100%;
        height: 185%;
        background-color: #f8eef4;
        position: absolute;
        display: flex;
        align-items: center;
    }

    .menu-section.on .menu-links {
        top: 72%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        display: block;
    }

    .menu-section.on .link {
        margin-bottom: 10px;
    }

    .menu-section.on .menu-toggle {
        right: 15px;
        margin-bottom: 10px;
        position: absolute;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }
}

@media (max-width: 750px) {
    main {
        margin: 0;
    }

    .logo-top {
        margin-left: 0;
    }

    .menu-toggle {
        margin-right: 10px;
    }

    .conteudo {
        padding: 20px;
        margin: 60px 10px;
        font-size: 15px;
        border-radius: 50px;
    }

    .slider {
        width: 350px;
        height: 350px;
    }
    
    .slides {
        width: 400%;
        height: 350px;
    }
    
    .slide img {
        width: 350px; 
    }
    
    .manual-navigation {
        width: 350px;
        margin-top: -22px;
    }
    
    .navigation-auto {
        width: 350px;
        margin-top: 320px;
    }
}

@media (max-height: 730px) {
    .link {
        margin: 0px;
    }

    .link a {
        padding: 20px 10px;
    }
}

@media (max-width: 550px) {
    footer {
        text-align: center;
        display: block;
    }

    .sociais {
        padding-bottom: 30px;
        align-items: center;
        justify-content: center;
    } 
}